#root {
  margin: 0;
}
body{
  background-color: rgb(5, 8, 22);
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

.skill-icon-img{
  height: 90px;
  width: 90px;
}
@media only screen and (max-width:480px) {
.skill-icon-img{
  height: 60px;
  width: 60px;
}
}